@model IEnumerable<CategoryListItemVM>

@{
    ViewData["Title"] = "Index";
}


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Category</h6>
    </div>
    <div class="card-body">
        <a class="btn btn-outline-success mb-3" asp-action="Create">Create</a>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Text</th>
                        <th>ParentCategoryId</th>
                        <th>IsDeleted</th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>

                <tbody id="records">
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.ParentCategoryId</td>
                                <td>@(item.IsDeleted ? "True" : "False")</td>
                                <td><a class="btn btn-outline-info" asp-action="Update" asp-route-id="@item.Id">Update</a></td>
                                <td><a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
                            </tr>
                        }
                    }else{<td class="text-center" colspan="6">No Data</td>}
                </tbody>
            </table>
        </div>
       
        <button class="btn btn-outline-info" id="showMore">Load More</Button>

        @section scripts{
            <script>
                var page = 2;
                var pageSize = 5;
                $("#showMore").click(function () {

                    $.ajax({
                         type: "POST",
                        url: "/Admin/Category/GetMoreRecords?page=" + page + "&pageSize=" + pageSize,
                        success: function (data) {
                            $("#records").append(data);
                            page++;
                        }
                    });
                });
            </script>
        }
    </div>
</div>



